!!!
%html
  %head
    %meta{ 'http-equiv' => 'content', :content => 'text/html; charset=utf-8'}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/style.css"}
    %link{:rel=>"alternate", :type=>"application/rss+xml", :title=>"RSS", :href=>"/rss"}
    %title=@title
  %body
    %div{:class=>"content"}
      %h1{:class=>"title"}=@title
      = yield
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-177918-3']);
      _gaq.push(['_setDomainName', '.xn--fdr45z90g374a.jp']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


